services:
  vue-app:
    container_name: vue3-dev
    image: hc-portfolio
    build:
      context: .
      dockerfile: Dockerfile

    ports:
      - "5173:5173"

    volumes:
      - .:/app
      - /app/node_modules

    environment:
      - NODE_ENV=development